@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 201 53% 100%;
    --foreground: 201 77% 3%;
    --card: 201 53% 100%;
    --card-foreground: 201 77% 3%;
    --popover: 201 53% 100%;
    --popover-foreground: 201 77% 3%;
    --primary: 201 9% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 16% 82%;
    --secondary-foreground: 201 16% 22%;
    --accent: 201 16% 82%;
    --accent-foreground: 201 16% 22%;
    --destructive: 15 98% 38%;
    --destructive-foreground: 0 0% 100%;
    --muted: 201 32% 89%;
    --muted-foreground: 201 0% 36%;
    --border: 201 13% 92%;
    --input: 201 13% 92%;
    --ring: 201 9% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 201 49% 2%;
    --foreground: 201 18% 99%;
    --card: 201 49% 2%;
    --card-foreground: 201 18% 99%;
    --popover: 201 49% 2%;
    --popover-foreground: 201 18% 99%;
    --primary: 201 9% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 14% 12%;
    --secondary-foreground: 201 14% 72%;
    --accent: 201 14% 12%;
    --accent-foreground: 201 14% 72%;
    --destructive: 15 98% 45%;
    --destructive-foreground: 0 0% 100%;
    --muted: 201 32% 11%;
    --muted-foreground: 201 0% 64%;
    --border: 201 13% 15%;
    --input: 201 13% 15%;
    --ring: 201 9% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply mb-2 mt-4 text-4xl font-bold;
}
h2 {
  @apply mb-2 mt-4 text-3xl font-bold;
}
h3 {
  @apply mb-2 mt-4 text-2xl font-bold;
}
h4 {
  @apply mb-2 mt-4 text-xl font-bold;
}
p {
  @apply mb-2;
}
ul {
  @apply list-disc pl-5;
}
li {
  @apply mb-2;
}
ol {
  @apply list-decimal pl-5;
}
